<div class="tasks-list">
<h1>All Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task), class: 'links' %>
    <%= link_to '<i class="fa-sharp fa-solid fa-trash"></i>'.html_safe,
    task_path(task), class: 'links',
    data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %></li>
  <% end %>
</ol>

<p><strong><%= link_to 'Add a Task', new_task_path, class: 'links'%></strong></p>
</div>
